@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aesthetic */
.bg-gradient-multi {
    background: linear-gradient(
            to top right,
            theme(colors.purple.800),
            theme(colors.purple.100 / 25%),
            theme(colors.violet.500)
    ),
    linear-gradient(
            to top left,
            theme(colors.orange.500 / 10%),
            theme(colors.purple.500),
            theme(colors.orange.300 / 75%)
    ),
    theme(colors.purple.200);
}

.text-glow {
    text-shadow: 0 0 72px theme(colors.purple.200 / 65%), 0 0 24px theme(colors.purple.200 / 24%);
}


/* Typography */

.h1 {
    @apply text-5xl font-extrabold leading-tight tracking-tighter text-glow;
}

.h2 {
    @apply text-3xl font-extrabold leading-tight tracking-tighter text-glow;
}

.h3 {
    @apply text-3xl font-bold leading-tight text-glow;
}

.h4 {
    @apply text-2xl font-bold leading-snug tracking-tight text-glow;
}

@screen md {
    .h1 {
        @apply text-6xl;
    }

    .h2 {
        @apply text-5xl;
    }
}

/* Buttons */
.btn,
.btn-sm {
    @apply font-medium inline-flex items-center justify-center border border-transparent rounded-sm leading-snug transition duration-150 ease-in-out;
}

.btn {
    @apply px-8 py-3;
}

.btn-sm {
    @apply px-4 py-2;
}

/* Forms */
.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
    @apply bg-transparent border border-gray-700 focus:border-gray-500;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
    @apply rounded-sm;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
    @apply py-3 px-4;
}

.form-input,
.form-textarea {
    @apply placeholder-gray-500;
}

.form-select {
    @apply pr-10;
}

.form-checkbox,
.form-radio {
    @apply text-purple-600;
}

.scroll-container {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.flex-parent-element {
    display: flex;
    width: 100%;
}

.flex-child-element {
    flex: 2;
    margin: 10px;
}

.flex-child-element-big {
    flex: 2.5;
    margin: 30px;
}

.flex-child-element-small {
    flex: 1;
    margin: 10px;
}

.flex-child-element:first-child {
    margin-right: 20px;
}

.hero-break {
    height: 16px;
    width: 100%;
    background-color: rgba(129, 64, 185, 0.95);
    margin: -8px 0;
    display: block;

    -webkit-box-shadow: 0 0 32px 0 rgb(138, 43, 226);
    -moz-box-shadow: 0 0 32px 0 rgb(138, 43, 226);
    box-shadow: 0 0 32px 0 rgb(138, 43, 226);
}

.rule-break {
    height: 6px;
    background-color: rgba(129, 64, 185, 0.95);
    margin: -3px 0;
    display: block;

    -webkit-box-shadow: 0 0 16px 0 rgba(138, 43, 226, 0.75);
    -moz-box-shadow: 0 0 16px 0 rgba(138, 43, 226, 0.75);
    box-shadow: 0 0 16px 0 rgba(138, 43, 226, 0.75);
}

.small-rule-break {
    height: 2px;
    background-color: gray;
    margin: -1px 0;
    display: block;
}